@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.colorChip {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	margin: 4px;
	transition: box-shadow 0.15s ease-in-out;
	border: 1px solid rgba(0, 0, 0, 0.1);

	&:hover {
		border: 1px solid variables.$colorBlack;
	}

	&.isSelected {
		border: 1px solid variables.$colorSpot;
	}

	.checkMark {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		text-align: center;
		border-radius: 50%;
		border: 1px solid variables.$colorDarkGray;
		pointer-events: none;
	}
}