@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.wrapper {
	position: relative;
	padding-top: 70px;

	.headerWrapper {

	}
	.navigationWrapper {

	}
	.containerWrapper {
		width: 100%;
		padding-left: 80px;
		.contentWrap {
			width: 100%;
			max-width: 1280px;
			margin: 0 auto;
		}
	}
}