@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.cardWrap {
	position: relative;
	width: auto;
	min-width: 240px;
	height: auto;
	padding: 15px 15px 50px 15px;
	margin: 16px 16px 16px 0;
	border-radius: 8px;
	border: 1px solid #AAA;
	break-inside: avoid-column;

	.imageContainer {
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
		width: 100%;
		height: auto;
		margin-bottom: 10px;

		img {
			display: block;
			flex-basis: 100%;
			width: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
		}
		&:has(img:nth-child(n+2)) {
			img {
				flex-basis: calc((100% - 12px) / 3);
				width: calc((100% - 12px) / 3);
				height: calc((100% - 12px) / 3);
			}
		}
	}

	.title {
		@include mixins.font_size_2xl;
		margin-bottom: 8px;
	}
	.text {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		@include mixins.font_size_md;
		max-height: 90px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.hoverBox {
		display: none;

		.editList {
			display: flex;

			.item {
				position: relative;
				padding: 5px;

				.colorList {
					position: absolute;
					z-index: 1;
					left: 0;
					top: 30px;
					display: flex;
					flex-wrap: wrap;
					min-width: 250px;
					padding: 10px;
					border-radius: 4px;
					border: 1px solid variables.$colorLightGray;
					background-color: variables.$colorWhite;
				}
			}
		}
	}

	&:hover {
		.hoverBox {
			z-index: 10;
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 34px;
			padding: 0 15px;
			margin-bottom: 8px;
		}
	}

	.btnLink {
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: calc(100% - 34px);
	}
}