/* size */
// content gap
$contGapXs: 6px;
$contGapSm: 10px;
$contGapMd: 20px;
$contGapLg: 30px;
$contGapXl: 50px;

// content padding
$contInnerSm: 10px;
$contInnerMd: 16px;
$contInnerLg: 20px;

/* font */
$letterSpacing: -0.001em;

$fs2Xl: 20px;
$fsXl: 16px;
$fsLg: 15px;
$fsMd: 14px;
$fsSm: 12px;

$lh2Xl: 28px;
$lhXl: 22px;
$lhLg: 20px;
$lhMd: 18px;
$lhSm: 16px;

$fwBold: 700;
$fwSb: 600;
$fwMd: 500;
$fwRgl: 400;
$fwLt: 300;

/* color */
$colorBlack: #000;
$colorDarkGray: #666;
$colorGray: #999;
$colorLightGray: #AAA;
$colorWhiteGray: #DDD;
$colorWhite: #FFF;
$colorLightYellow: #FEEFC3;
$colorSpot: #A142F4;

$bgSalmon: #FAAFA8;
$bgOrange: #F39F76;
$bgYellow: #FFF8b8;
$bgLightGreen: #E2F6D3;
$bgGreen: #B4DDD3;
$bgLightBlue: #D4E4ED;
$bgBlue: #AECCDC;
$bgPurple: #D3BFDB;
$bgPink: #F6E2DD;
$bgBrown: #E9E3D4;
$bgGray: #EFEFF1;


