
/*  reset */
div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: 400;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
}
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; /*min-height: var(--reVh, 1vh);*/ }

body {width: 100%; color: #000; background-color: #fff; }
html, body { margin: 0 auto; padding: 0; font-family: 'Pretendard', "SF Pro Display", AppleSDGothicNeo-Light, Helvetica,"Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif !important; font-size: 14px; border: 0; font-weight: 400; font-style: normal; /*overscroll-behavior-y: none;*/ }

ol, ul, nav {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

a {
	text-decoration: none;
	color: inherit;
}

select, input, button, textarea {
	display: inline-block;
	font-family: 'Pretendard', "SF Pro Display", AppleSDGothicNeo-Light, Helvetica,"Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif !important;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 500;
}

embed, object {
	position: absolute;
}

button {
	padding: 0;
	margin: 0;
	vertical-align: top;
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

img {
	vertical-align: top;
	max-width: 100%;
}

input {
	/* width: 180px;
	padding: 6px 10px 6px;
	height: 30px;
	border: 1px solid #ddd;
	color: #111; */
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 14px;
	border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

textarea[disabled],
textarea[readonly],
select[disabled],
select[readonly],
input[disabled],
input[readonly] {
	cursor: default !important;
}

input[disabled] + label,
input[readonly] + label {
	cursor: default !important;
}

textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 110px;
	padding: 7px 10px 7px;
	border: 1px solid #ddd;
	color: #111;
	line-height: 16px;
	border-radius: 0;
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

input::-webkit-input-placeholder { color: #999; line-height: 14px; }

/* 크롬 4–56 : placeholder style */
input:-moz-placeholder { color: #999; line-height: 14px; }

/* 파이어폭스 4–18 : placeholder style */
input::-moz-placeholder { color: #999; line-height: 14px; }

/* 파이어폭스 19–50 : placeholder style */
input:-ms-input-placeholder { color: #999; line-height: 14px; }

/* 인터넷 익스플로러 10+ : placeholder style */
input::-webkit-input-placeholder { color: #999; line-height: 14px; }

input:-ms-input-placeholder { color: #999; line-height: 14px; }

input::-ms-input-placeholder { color: #999; line-height: 14px; }

input::placeholder { color: #999; line-height: 14px; }

/* 파이어폭스 51+, 크롬 57+ : placeholder style */

input[type=button]:hover {cursor: pointer;}

input[type=button]:disabled {cursor: default;}

*, *:before, *:after {-webkit-box-sizing: border-box;box-sizing: border-box;}

button, input, select, textarea {margin: 0; font-size: 100%; vertical-align: top; }

button {vertical-align: top; cursor: pointer;}

strong {font-weight: 700;}

/*h1, h2, h3, h4, h5, h6, pre {font-weight: 700; font-size: 100%; line-height: 1;}*/

caption, legend {width: 0; height: 0; font-size: 1px; text-indent: -9999rem; line-height: 0; margin: 0; padding: 0; border: 0; }

a, a:active, a:focus, a:hover, a:link, a:visited,
button, button:active, button:focus, button:hover, button:visited,
textarea, textarea:active, textarea:focus, textarea:hover,
select, select:active, select:focus, select:hover { text-decoration: none;}

.btn:focus, a.btn:focus{ -webkit-box-shadow: none; box-shadow: none; }

a.disabled,
button[disabled],
input[disabled] {
	pointer-events: none;
	cursor: default;
}

input::-ms-clear {display: none;}

header, footer, article, section, aside, details, figure, figcaption, nav, hgroup { display: block; margin: 0; padding: 0; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
button, input, select, textarea { margin: 0; font-size: 100%; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
textarea::-webkit-scrollbar { width: 3px; border-radius:1.5px; }
textarea::-webkit-scrollbar-thumb { background: #ccc; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family: 'Pretendard', "SF Pro Display", AppleSDGothicNeo-Light, Helvetica,"Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif !important; }

/* Disable orange highlight */
label, a, button, select {-o-tap-highlight-color:rgba(0,0,0, 0);-ms-tap-highlight-color:rgba(0,0,0, 0);-moz-tap-highlight-color:rgba(0,0,0, 0);-webkit-tap-highlight-color:rgba(0,0,0, 0);}
button {padding:0;background-color:transparent; border-width:0; outline: none; font-family: 'Pretendard', "SF Pro Display", AppleSDGothicNeo-Light, Helvetica,"Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif !important; text-align: center;}
/* // reset */