@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	gap: 30px;
	width: 100%;
	height: 70px;
	padding: 8px;
	border-bottom: 1px solid variables.$colorWhiteGray;
	background-color: variables.$colorWhite;

	.leftArea {
		display: flex;
		align-items: center;
		flex-shrink: 0;

		button {
			padding: 10px;
		}

		.logo {
			display: block;
			font-size: 0;

			img {
				display: inline-block;
				width: 40px;
				height: 40px;
				margin: 7px 0;
				vertical-align: top;
			}

			.title {
				display: inline-block;
				margin-left: 4px;
				font-size: 22px;
				line-height: 54px;
				font-weight: 500;
				color: variables.$colorDarkGray;
				vertical-align: top;
			}
		}
	}
	.searchArea {
		flex: 1;
	}
	.rightArea {
		margin-right: 60px;
		button {
			padding: 10px;
			margin: 4px;
		}
	}
}