@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

// colors
.fcBlack { color: variables.$colorBlack !important; }
.fcDarkGray { color: variables.$colorDarkGray !important; }
.fcGray { color: variables.$colorGray !important; }
.fcLightGray { color: variables.$colorLightGray !important; }
.fcWhiteGray { color: variables.$colorWhiteGray !important; }
.fcWhite { color: variables.$colorWhite !important; }
.fcSpot { color: variables.$colorSpot !important; }
.fcOrange { color: variables.$bgOrange !important; }

.bgSalmon { background-color: variables.$bgSalmon !important; }
.bgOrange { background-color: variables.$bgOrange !important; }
.bgYellow { background-color: variables.$bgYellow !important; }
.bgLightGreen { background-color: variables.$bgLightGreen !important; }
.bgGreen { background-color: variables.$bgGreen !important; }
.bgLightBlue { background-color: variables.$bgLightBlue !important; }
.bgBlue { background-color: variables.$bgBlue !important; }
.bgPurple { background-color: variables.$bgPurple !important; }
.bgPink { background-color: variables.$bgPink !important; }
.bgBrown { background-color: variables.$bgBrown !important; }
.bgGray { background-color: variables.$bgGray !important; }

// fonts
.fwBold { font-weight: variables.$fwBold !important; }
.fwSb { font-weight: variables.$fwSb !important; }
.fwMd { font-weight: variables.$fwMd !important; }
.fwRgl { font-weight: variables.$fwRgl !important; }
.fwLt { font-weight: variables.$fwLt !important; }

.taLeft { text-align: left !important; }
.taRight { text-align: right !important; }
.taCenter { text-align: center !important; }

.tdUdl { text-decoration: underline !important; }
.tdLine { text-decoration: line-through !important; }

// title
.titleWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 24px;
	padding-bottom: 8px;
	gap: 20px;
}

.title {
	width: 100%;
	@include mixins.font_size_sm('sb');
	color: variables.$colorGray;
}

.titleItalic {
	@include mixins.font_size_xl('sb');
	font-weight: 400;
	font-style: italic;
	color: variables.$colorGray;
}

// offscreen
.offscreen {
	position: absolute !important;
	display: block;
	overflow: hidden;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	font-size: 14px !important;
}