@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.fileUpload {
	width: 24px;
	height: 24px;

	form, label, input {
		display: inline-block;
		width: 100%;
		height: 100%;
		vertical-align: top;
	}

	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: transparent;
	}

	/* 파일 선택 버튼 부분 스타일 재정의 (webkit 브라우저) */
	input[type="file"]::-webkit-file-upload-button,
	input[type="file"]::file-selector-button {
		display: inline-block;
		background-image: url("../../../../public/assets/icons/icon_image.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: transparent;
		width: 24px;
		height: 24px;
		color: transparent;
		border: 0;
		margin: 0;
		padding: 0;
	}

	&:hover {
		position: relative;
		z-index: 1;

		&::before {
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			top: -4px;
			left: -4px;
			width: calc(100% + 8px);
			height: calc(100% + 8px);
			border-radius: 50%;
			overflow: hidden;
			background: rgba(95,99,104,0.157);
		}

		&::after {
			content: attr(data-tooltip-text);
			position: absolute;
			bottom: -24px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: max-content;
			height: 20px;
			padding: 2px 4px;
			border-radius: 4px;
			@include mixins.font_size_sm('sb');
			color: variables.$colorWhiteGray;
			background: rgba(0,0,0,.8);
			overflow: hidden;
			white-space: nowrap;
		}
	}
}