@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.fileUpload {
	width: 24px;
	height: 24px;

	form, label, input {
		display: inline-block;
		width: 100%;
		height: 100%;
		vertical-align: top;
	}

	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: transparent;
	}

	/* 파일 선택 버튼 부분 스타일 재정의 (webkit 브라우저) */
	input[type="file"]::-webkit-file-upload-button,
	input[type="file"]::file-selector-button {
		display: inline-block;
		background-image: url("../../../../public/assets/icons/icon_image.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: transparent;
		width: 24px;
		height: 24px;
		color: transparent;
		border: 0;
		margin: 0;
		padding: 0;
	}
}