@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.statusNoticeWrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.icon, .notice {
		flex: 1;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}

	.icon {
		width: 120px;
		height: 120px;
		margin: 20px;

		&.memo {
			background: url('../../../../public/assets/icons/icon_lightbulb_gray.svg') center no-repeat;
		}
		&.pin {
			background: url('../../../../public/assets/icons/icon_fix_gray.svg') center no-repeat;
		}
		&.keep {
			background: url('../../../../public/assets/icons/icon_keep_gray.svg') center no-repeat;
		}
		&.trash {
			background: url('../../../../public/assets/icons/icon_trashcan_gray.svg') center no-repeat;
		}
		&.search {
			background: url('../../../../public/assets/icons/icon_search_gray.svg') center no-repeat;
		}
	}

	.notice {
		@include mixins.font_size_2xl;
		color: variables.$colorDarkGray;
	}
}