@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

%iconStyle {
	flex-shrink: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	padding: 0 24px;
	vertical-align: top;
}

.navigation {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 70px;
	@include mixins.flex-column(0);
	width: 80px;
	height: calc(100vh - 70px);
	min-height: auto;
	padding-top: 8px;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-property: width, box-shadow, border-radius, border-color;
	transition-duration: .15s;
	overflow: hidden;
	background-color: variables.$colorWhite;
	border-right: 1px solid variables.$colorWhiteGray;

	.menuList {
		flex: 1 0 auto;
		.menuItem {
			width: 100%;
			height: 48px;

			.linkMenu {
				display: flex;
				align-items: center;
				width: 100%;
				min-width: 48px;
				height: 48px;
				padding-left: 12px;
				border: 1px solid transparent;
				border-radius: 0 25px 25px 0;
				overflow: hidden;

				.menu {
					display: inline-block;
					margin-left: 20px;
					@include mixins.font_size_xl('sb');
					color: #202124;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					vertical-align: top;
				}

				// icons
				.iconMemo {
					@extend %iconStyle;
					background: url("../../../../public/assets/icons/icon_lightbulb.svg") center no-repeat;
				}
				.iconPin {
					@extend %iconStyle;
					background: url("../../../../public/assets/icons/icon_fix.svg") center no-repeat;
				}
				.iconKeep {
					@extend %iconStyle;
					background: url("../../../../public/assets/icons/icon_keep.svg") center no-repeat;
				}
				.iconTrashcan {
					@extend %iconStyle;
					background: url("../../../../public/assets/icons/icon_trashcan.svg") center no-repeat;
				}

				// active styles
				&:hover {
					background-color: variables.$colorWhiteGray;
				}

				&:active, &.active {
					background-color: variables.$bgYellow;
				}
			}
		}
	}

	&:hover {
		width: 280px;
		border-color: transparent;
		box-shadow: 0 16px 10px 0 rgba(0,0,0,.14),0 11px 18px 0 rgba(0,0,0,.12),0 13px 5px -1px rgba(0,0,0,.2);
	}
}