@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.noteForm {
	position: relative;
	width: 100%;
	max-width: 700px;
	margin: 20px auto;
	border: 1px solid variables.$colorWhiteGray;
	border-radius: 8px;
	padding: 0 16px;

	.btnFix	{
		position: absolute;
		z-index: 1;
		top: 6px;
		right: 12px;
		width: 34px;
		height: 34px;
		padding: 5px;
	}

	.textField {
		width: 100%;
		.title {
			input {
				width: 100%;
				height: 46px;
				padding: 8px 0;
				background: transparent;
				border: none;
				outline: none;
				@include mixins.font_size_lg;
				color: variables.$colorDarkGray;
				box-sizing: border-box;
			}
		}

		.imageContainer {
			display: flex;
			flex-wrap: wrap;
			gap: 6px;
			width: 100%;
			height: auto;
			margin-bottom: 10px;

			img {
				display: block;
				flex-basis: 100%;
				width: 100%;
				aspect-ratio: 1/1;
				object-fit: cover;
			}
			&:has(img:nth-child(n+2)) {
				img {
					flex-basis: calc((100% - 12px) / 3);
					width: calc((100% - 12px) / 3);
					height: calc((100% - 12px) / 3);
				}
			}
		}

		.content {
			margin-top: 10px;

			textarea {
				width: 100%;
				min-height: 52px;
				height: auto;
				padding: 8px 0;
				background: transparent;
				border: none;
				outline: none;
				resize: none;
				@include mixins.font_size_md;
				color: variables.$colorDarkGray;
				box-sizing: border-box;
			}
		}
	}
	.noteToolbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 16px 0;

		.toolbarList {
			display: flex;
			align-items: center;
			gap: 6px;

			.item {
				position: relative;
				padding: 5px;

				.colorList {
					position: absolute;
					z-index: 1;
					left: 0;
					top: 30px;
					display: flex;
					flex-wrap: wrap;
					min-width: 250px;
					padding: 10px;
					border-radius: 4px;
					border: 1px solid variables.$colorLightGray;
					background-color: variables.$colorWhite;
				}
			}
		}
	}
}